// Utility
// -------------------------

// Clearfix
@mixin clearfix {
	&:after {
	    content:"";
	    display:block;
	    clear:both;
	}
}
@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Buttons and CTA
// -------------------------

@mixin btn-color($bg:$red, $col:$white) {
	color: $col;
  background: $bg;
  border: 0;
  @include transition-all;
  &:hover,
  &:active {
    background:darken($bg,5%);
  }
}
@mixin btn-size($fz:1rem, $pd: 1em 3em) {
	font-family: $font_medium;
  font-size: $fz;
  padding: $pd;
}

// Animations and Effects
// -------------------------
@mixin transition-all ($s:0.2s){
  transition-property: all;
  transition-duration: $s;
  transition-timing-function : ease;
}

// Media Queries
// -------------------------
 @mixin breakpoint($point) {
   @if $point == mindesktop {
     @media (min-width: 80em) { @content ; } // 1280px +
  }
   @else if $point == laptop {
     @media (max-width: 64em) { @content ; } // 1024px -
  }
   @else if $point == minlaptop {
     @media (min-width: 64em) { @content ; } // 1024px  +
  }
    @else if $point == tablet {
     @media (max-width: 50em) { @content ; } // 800px -
  }
    @else if $point == mintablet {
     @media (min-width: 50em) { @content ; } // 800px +
  }
   @else if $point == phablet {
     @media (max-width: 37.5em)  { @content ; } // 600px -
  }
   @else if $point == minphablet {
     @media (min-width: 37.5em)  { @content ; } // 600px +
  }
  @else if $point == mobileonly {
     @media (max-width: 27em)  { @content ; } // 432px -

  }
}