// Utility
// -------------------------

// Clearfix
@mixin clearfix {
	&:after {
	    content:"";
	    display:block;
	    clear:both;
	}
}
@mixin overlay {
  // position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// Buttons and CTA
// -------------------------

@mixin btn-color($bg:$red, $col:$white) {
	color: $col;
  background: $bg;
  border: 0;
  @include transition-all;
  &:hover,
  &:active {
    background:darken($bg,5%);
  }
}
@mixin btn-size($fz:1rem, $pd: 1em 3em) {
	font-family: $font_medium;
  font-size: $fz;
  padding: $pd;
}

// Animations and Effects
// -------------------------
@mixin transition-all ($s:0.2s){
  transition-property: all;
  transition-duration: $s;
  transition-timing-function : ease;
}

// Fadeout / Fadein animations
@mixin fade-in-animation {
  animation: 0.5s fade-in ease;
}
@mixin fade-out-animation {
  animation: 0.5s fade-out ease;
}

@keyframes fade-in {
   0% { opacity: 0; }
   100% { opacity: 1 }
 }
@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes blink {
  0% { fill: $black; }
  50% { fill: $red; }
  100% { fill: $black; }
}

// Typography
// -------------------------
@mixin module-title-style($fz:3rem) {
  font-size: $fz;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-family: $font_cond_bold;
}

// Media Queries
// -------------------------
 @mixin breakpoint($point) {
   @if $point == jumbo {
     @media (min-width: 87.5em) { @content ; } // 1400px +
  }
   @if $point == mindesktop {
     @media (min-width: 81.25em) { @content ; } // 1300px +
  }
   @else if $point == laptop {
     @media (max-width: 64em) { @content ; } // 1024px -
  }
   @else if $point == minlaptop {
     @media (min-width: 64em) { @content ; } // 1024px  +
  }
    @else if $point == tablet {
     @media (max-width: 50em) { @content ; } // 800px -
  }
    @else if $point == mintablet {
     @media (min-width: 50em) { @content ; } // 800px +
  }
   @else if $point == phablet {
     @media (max-width: 37.5em)  { @content ; } // 600px -
  }
   @else if $point == minphablet {
     @media (min-width: 37.5em)  { @content ; } // 600px +
  }
  @else if $point == mobileonly {
     @media (max-width: 27em)  { @content ; } // 432px -

  }
}