// =====================
// Modules general
// =====================
.module {
	margin-bottom: 4rem;
	@include breakpoint(jumbo) {
		margin-bottom: 6rem;
	}
}
.module-full-width {
	padding: $module-vert-pd 0;
}
// modules with bg images
.module-bg-img {
	padding: 1em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #054851;
	color: $grey;
	@include breakpoint(minphablet) {
		padding: 3em;
	}
	.module-title {
		// color: $grey;
		margin-top: 0;
	}
}
// Module in white boxes & border
.module-boxed {
	background: #FFF;
	border: 1px solid $grey;
	padding: 1em; 
	@include breakpoint(minphablet) {
		padding: 3em;
	}
}
// Module in white boxes
.module-boxed-light {
	background: #FFF;
}
// Module in dark boxes
.module-boxed-dark {
	background: $black;
}
// Module in light grey boxes
.module-boxed-medium {
	background: $lightgrey;
}
// Two cta buttons 
.cta-single {
  @include breakpoint(laptop) {
    margin-bottom: 1em;
  }
}

// Two cta buttons 
.cta-double {
	.btn-large:not(:last-child) {
		margin-right: 1em;
	}
}
// Module footers
.module-footer {
	text-align: center;
	padding: 1em 0;
}

// ========================
// Tuition & Dates Module
// ========================
.tuition-dates {
	.foot-note {
		text-align: right;
		// color: $grey;
		margin-bottom: 0;
		@include breakpoint(tablet) {
			text-align: left;
		}
	}
	// Tuition dates table ---------
	.multi-column-table {
		background: transparentize($white, 0.1);
		color: $black;
	}
	.row {
		@include breakpoint(mintablet) {
			padding: 1.2em;
		}
		&:not(:last-child) {
			@include breakpoint(mintablet) {
				border-color: $grey;
			}
			@include breakpoint(phablet) {
				border-color: $grey;
			}
		}
	}
	.cell {
		@include breakpoint(mintablet) {
			&:first-child {
				flex-basis: 25%;
			}
		}
		&:last-child,
		&:first-child {
			font-family: $font-bold;
		}
		&:last-child {
			flex: 1 1 10%;
		}
	}
	.full {
		color: $midgrey;
	}
	.fa {
		color: $red;
	}
}
// ========================
// Daily Schedule Module
// ========================
.course-schedule {
	.two-col-table {
		.row {
			border-color: $blue;
		}
	}
}

// ========================
// Student Project Module
// ========================
.student-project {
	color: $midgrey;
	padding: calc(#{$module-vert-pd} / 2) 0;
	h4 {
		text-align: center;
		margin-bottom: $module-vert-pd;
	}
	.project-title {
		font-family: $font_bold;
	}
}
// container for image & details
.student-project-content {
	display: flex;
	flex-flow: column nowrap;
	@include breakpoint(laptop) {
		max-width: 25em;
		margin: auto;
	}
	@include breakpoint(minlaptop) {
		flex-flow: row nowrap;
		justify-content: space-between;
		max-width: 50em;
		margin: auto;
	}
	.carousel-box {
		flex-basis: initial;
	}
}
// slider image
.student-project-image {
	display: flex;
	align-items: center;
	max-width: 500px;
	display: none;
	img {
		max-width: 100%;
	}
}
.student-project-image.visible {
	display: block;
}
// container for slider controls & caption
.student-project-details {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	flex-shrink: 0;
	flex-basis: auto;
	@include breakpoint(minlaptop) {
    max-width: 40%;
		flex: 1 1 35%;
	}
}
// controls
.slider-controls {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin: $module-vert-pd 0;
	padding: 0.5em 0;
	border-top: 1px solid lighten($darkgrey, 5%);
	border-bottom: 1px solid lighten($darkgrey, 5%);
	line-height: 0;
	@include breakpoint(laptop) {
		margin: calc(#{$module-vert-pd} / 2) 0;
	}
	@include breakpoint(minlaptop) {
		margin: 0;
		order: 1;
	}
	.slider-current {
		font-family: $font_cond_bold;
		font-size: 2rem;
	}
}
// ========================
// Career Support Module
// ========================
.career-support {
	.info-block {
		display: flex;
		flex-flow: row wrap;
		> * {
			margin: auto;
		}
	}
}
// ========================
// Employer CTA Module
// ========================
.employer-cta-module {
		text-align: center;
}
.skills-container {
	text-align: left;
	color: inherit;
	padding: 1em 3em;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	@include breakpoint(mintablet) {
      margin: $module-vert-pd -3em;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;
	}
}
.skill {
	padding: 1em 0;
  @include breakpoint(mintablet) {
    flex: 0 0 calc(30% - 1em);
  }
}
.skill-title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	@media screen and (min-width: 50em) and (max-width: 56.25em) {
		flex-direction: column;
		align-items: flex-start;
	}
	.icon {
		flex: 0 0 3rem;
		margin-right: 1rem;
	}
	h4 {
		margin: 0;
	}
}
// ========================
// Course item module
// ========================
.course-item {
	.module-title {
		font-size: 1.8rem;
		letter-spacing: 0.04em;
		margin-bottom: 1em;
	}
	.module-title-jumbo {
		font-size: 2.5rem;
		margin-top: 0;
		line-height: 0.9;
	}
}
.course-item-container {
	padding: 0;
	@include breakpoint(minphablet) {
		display: flex;
	}
}
.course-description {
	padding: 2em;
	p:last-child {
		margin-bottom: 0;
	}
}
.course-details {
	font-size: 0.9rem;
	text-align: center;
	flex: 1 0 25%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	.course-details-block {
		flex: 1 auto;
		@include breakpoint(minphablet) {
			flex: 100%;
		}
	}
	h4 {
		font-size: inherit;
		margin: 0;
		padding: 0.2em;
		background:$grey;
	}
	ul {
		color: $hardgrey;
		list-style: none;
	}
	.btn-primary {
		width: 100%;
		align-self: flex-end;
	}
}
// ========================
// Events Module
// ========================
.events-list {
	margin: $module-vert-pd 0 calc(#{$module-vert-pd} / 2) 0;
	list-style: none;
	li {
		border-bottom: 1px solid $grey;
	}
	.event-url {
		display: flex;
		flex-flow: column;
		padding: 1em 0.5em 1.1em 0.5em;
		&::before {
			content: none;
		}
		&:hover {
			background:$lightgrey;
			.event-arrow {
				color: $black;
			}
		}
		@include breakpoint(mintablet) {
			flex-flow: row wrap;
			justify-content: space-between;
		}
	}
	.event-date {
		font-family: $font_bold;
		color: $midgrey;
	}
	.event-name {
		font-family: $font_medium;
		@include breakpoint(mintablet) {
			margin-left: auto;
			flex: 0 1 20%;
		}
	}
	.event-description {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		@include breakpoint(mintablet) {
          flex: 0 1 60%;
			margin-left: auto;
		}
	}
	.event-arrow {
		flex: 0 0 10%;
		text-align: right;
		color: $midgrey;
		@include transition-all;
		&::before {
			font-size: 1.4rem;
		}
	}
}
// ========================
// Partner Logos Module
// ========================
.partner-logos-module {
	padding: calc(#{$module-vert-pd} / 2) 0;
	margin-bottom: 0;
	h4 {
		text-align: center;
		color: $black;
	}
	.link-more {
		text-align: center;
	}
}
.partner-logos-container {
	margin: $module-vert-pd 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.partner-logo {
	margin: 1rem 0;
	height: 2.25rem;
	width: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	@include breakpoint(mintablet) {
		width: 11.4rem;
	}
	img {
		max-width: 80%;
		max-height: 100% ;
	}
}
// ========================
// Home Hero Module
// ========================
.hero-content {
  @include breakpoint(mintablet) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    // align-items: center;
  }
  p:first-child {
    margin-top: 0;
  }
}
.hero-text{
  @include breakpoint(mintablet) {
    flex: 1 calc(50% - 50px);
    margin-right: 50px;
  }
}
.hero-visual {
	.video-trigger {
		max-height: 13rem;
		max-width: 22.4rem;
	}
}
// ========================
// Evolving Module
// ========================
.evolving-module {
	.one-half-content:not(:last-child) {
		@include breakpoint(tablet) {
			margin-bottom: calc(#{$module-vert-pd} / 2);
		}
	}
	.cta-widget {
		@include breakpoint(mintablet) {
			max-width: 426px;
			margin: auto;
		}
	}
}
// ========================
// Working Space Module
// ======================== 
.working-space-module {
	text-align: center;
	.module-title-medium {
		margin-top: 0;
	}
}