// ROOT font sizes (html)
// medium - 125% (20px)
// large - 138% (22px)
// small - 

// 16px = 0.8rem
// 18px = 0.9rem
// 20px = 1rem (base) -- 125%
// 24px = 1.2rem
// 28px = 1.4rem
// 32px = 1.6rem
// 36px = 1.8rem
// 40px = 2rem
// 60px = 3rem
// 120px = 6rem

// ===================
// Global
// ===================
html {
	font-size: 100%; // 16px
	@include breakpoint(minphablet) {
		font-size: 125%; // 20px
	}
	@include breakpoint(mindesktop) {
		font-size: 138%; // 22px
	}
}
body {
  font-family: $font_regular, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $black;
  background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3 {
	font-family: $font-bold;
	font-weight: normal;
	line-height: 1.2;
} 
h1 {
	font-size: 3rem;
	margin-bottom: 0.25em;
}
h2 {
	font-size: 2rem;
	margin-bottom: 0.3em;
}
h3 {
	font-size: 1.6rem;
	margin-bottom: 0.5em;
}
h4 {
	font-family: $font_medium;
	font-weight: normal;
	font-size: 1.2rem;
	margin-bottom: 0.5em;
}

// Generic styles ------------
strong {
	font-family: $font_bold;
}
// Blockquote ----------------
blockquote {
	margin: 0;
	p {
		font-family: $font_italic;
	}
}
.credit {
	&::before {
		content: '—';
	}
}

// Body Utility classes ------
.text-body-large {
	font-size: 1.4rem;
}
.text-body-small {
  @include breakpoint(mintablet) {
    font-size: 0.9rem;
  }
}
.text-subtle {
	color: $hardgrey;
}
// reduce line length --------
.text-measure {
	max-width: 40em;
}
.text-body-large.text-measure {
	max-width: 30em;
}

// Module Headers -----------
.module-title {
	@include module-title-style();
  @include breakpoint(phablet) {
    font-size: 2.25rem;
  }
}
.module-title-medium {
	@include module-title-style(1.6rem);
}
.module-title-small {
	@include module-title-style(1.2rem);
}
.module-title-jumbo {
	font-family: $font_bold;
	display: block;
	color: $red;
	@include word-wrap;
  font-size: 1.6em;
  @include breakpoint(minlaptop) {
    font-size: 2em;
  }
}
.module-boxed .module-title:first-of-type {
	margin-top: 0.2em;
}
// Spacing for headers in row layouts ------
.row-container h1:first-of-type,
.row-container h2:first-of-type,
.row-container h3:first-of-type,
.row-container h4:first-of-type,
.row-container p:first-of-type {
	margin-top: 0;
}

// ===================
// Footer
// ===================
.site-footer {
  color: $midgrey;
  h4 {
    color: $lightgrey;
  }
}